VITE_API_URL=http://localhost:8000/api/v1

VITE_KAKAO_CLIENT_ID=
VITE_KAKAO_REDIRECT_URI=
VITE_NAVER_CLIENT_ID=
VITE_NAVER_REDIRECT_URI=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=
VITE_BBATON_CLIENT_ID=
VITE_BBATON_REDIRECT_URI=
VITE_KAKAO_APP_KEY=
